<style>
    h2 a:link { color:rgb(0, 0, 0); text-decoration:none; font-weight:bolder; }
    h2 a:visited { color: rgb(0, 0, 0); text-decoration:none; font-weight:bolder; }
    h2 a:hover { color: rgb(0, 0, 0); text-decoration:underline; font-weight:bold; } 
</style>

<div class="row">
    <div class="col-md-12">
         <h2>Images <a href="/images/add" class="btn btn-success pull-right">Add New Image</a></h2>
          <hr />
    </div>  
         {{#each images}}
            <div class="col-md-4">
             <img src="/images/uploaded/{{this}}" class="img-responsive img-thumbnail"/>
            </div>
        {{else}}
            <div class="col-md-12 text-center">
                <strong>No Images Available</strong>
            </div>
        {{/each}}
</div> 